/* style for mian.bz */

html, body {
  height: 100%;
  width: 100%;
}

#root-wrapper, .component-wrapper, #content {
  height: 100%;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.editor-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.component-wrapper {
  position: relative;
}
.btn {
  display: block;
  background: #fff;
  border: 2px #000 solid;
  padding: 6px 10px;
  position: relative;
}
.save {
  position: absolute;
  top: 0;
  right: 0px;
}
.hide {
  display: none;
}

.editor-wrapper .container {
  position: relative;
  height: 100%;
}

#editor {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 1000px;
}

#signup-root-wrapper {
}
#signup form>label {
  display: block;
}

.pure-form .form-inlined input, .form-inlined span {
  display: inline-block;
}
